<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-FileCopyrightText: 2024 Evervolv
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.android.settings"
        android:sharedUserId="android.uid.system"
        coreApp="true">

    <uses-permission android:name="evervolv.permission.HARDWARE_ABSTRACTION_ACCESS" />
    <uses-permission android:name="evervolv.permission.MANAGE_LIVEDISPLAY" />
    <uses-permission android:name="evervolv.permission.WRITE_SETTINGS" />

    <original-package android:name="com.android.settings"/>

    <application android:name="com.evervolv.settings.ToolboxApplication"
            android:icon="@drawable/ic_launcher_settings"
            android:theme="@style/Theme.Settings"
            tools:replace="android:name">

        <uses-library android:name="org.apache.http.legacy" />

        <activity android:name="com.evervolv.settings.Toolbox$PowerMenuSettings"
                android:exported="true"
                android:label="@string/power_menu_title"
                android:theme="@style/Theme.SubSettings">
            <intent-filter>
                <action android:name="com.evervolv.settings.POWER_MENU_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.evervolv.settings.gestures.PowerMenuActions" />
        </activity>

    </application>
</manifest>
